.*, *:after, *:before { box-sizing: border-box }

.container {
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 10px;
	background-color: #fff;
}

.tr-com-pic {
	object-fit: cover;
	width: 80px;
	height: 80px;
}

.road_trip-pic {
	object-fit: cover;
	width: 800px;
	height: 300px;
}

.mother_son_pic {
	margin: 0;
	padding: 0;
	object-fit: cover;
	width: 240px;
	height: 480px;
}

.beach-pic {
	object-fit: cover;
	width: 800px;
	height: 300px;
}

.socialnet-pic {
	object-fit: cover;
	width: 40px;
	height: 40px;
	border-radius: 10px;
}

.w-10 { width: 10% }
.w-20 { width: 20% }
.w-25 { width: 25% }
.w-30 { width: 30% }
.w-50 { width: 50% }
.w-70 { width: 70% }
.w-80 { width: 80% }
.w-90 { width: 90% }
.w-100 { width: 100% }

.p-10 { padding: 20px 10px 20px 10px }

.ptop-50 { padding-top: 50px; }

.px-30 {
	padding-left: 30px;
	padding-right: 30px;
}

.px-50 {
	padding-left: 50px;
	padding-right: 50px;
}

.py-50 {
	padding-top: 50px;
	padding-bottom: 50px;
}

div li { padding-top: 20px }

.py-25 {
	padding-top: 25px;
	padding-bottom: 25px;
}
.pbottom-50 { padding-bottom: 50px }

.fs-24 { font-size: 24px }
.fs-30 { font-size: 30px }

.ff { font-family: "Verdana" }

.d-flex { display: flex; }

.jc-center { justify-content: center; }
.ai-center { align-items: center; }

.out { outline: 1px solid }

.bg-021e52 { background-color: #021e52 }
.bg-ffdb5e { background-color: #ffdb5e }

.align-center { text-align: center; }
.bg-34a1e7 { background-color: #34a1e7 }

button h2 a { text-decoration: none; }

button {
	font-size: 10px;
	margin-bottom: 10px;
	/*padding-bottom: px;*/
	background-color: yellow;
	width: 200px;
	height: 50px;
	border-radius: 10px;
}

.h-300 { height: 300px }

.margin-top-25 { margin-top: 25px }










.h-200 { height: 200px }

.bg-yellow { background-color: yellow }
.bg-63be79 { background-color: #63be79; }



.fs-50 { font-size: 50px }
.fs-25 { font-size: 25px }

.m-0 { margin: 0 0 0 0 }

.mt-10 { margin-top: 10px }
.p-0 { padding: 0 0 0 0 }
.ptop-5 { padding-top: 5px }
.p-10 { padding: 10px }
.m-right { margin-right: 0; }
.py-10 {
	padding-top: 10px;
	padding-bottom: 10px;
}

.p-10 { padding: 5px 5px 5px 5px  }
.p-10 { padding: 10px 0 10px 0;
}

.py-25 {
	padding-top: 25px;
	padding-bottom: 25px;
}

.bg-header {
	background: #39585d url(../img/earth1.png) no-repeat top right;
	background-size: 50%;
}

.bg-header-pic {
	margin: 0 70px 0 35px;
	text-align: center;
	justify-content: center;
	object-fit: cover;
	width: 650px;
	height: 325px;
}

.buttom-size h4 a {
	text-decoration: none;
}

.buttom-size {
	padding: 0 0 0 0;
/*	margin: 0 0 0 0;*/
	width: 100px;
	height: 50px;
	border-radius: 15px;
	background-color: rgba(0,0,0,.3);
	border-style: none;
}

.radius-10 { border-radius: 10% }
/*.radius-20 { border-radius: 20px }*/

.bg-212b2d { background-color: #212b2d }
.bg-333d3f { background-color: #333d3f }
.color-white { background-color: white }
.font-color-white { color: white }

.menu li {
	padding: 0 30px;
	border-left: 1px solid white;
}

.txt-dec-none { text-decoration: none; }

.list-reset { list-style: none; }

.menu li:first-child { border-left: none; }

.menu li a {
	color: white;
	text-decoration: none;
}

.menu li a:hover { color: red }









