.*, *:after, *:before { box-sizing: border-box }

.container {
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 20px;
	/*background-color: gray;*/
}

.h-200 { height: 200px }
.w-20 { width: 20% }
.w-50 { width: 50% }
.w-80 { width: 80% }
.w-100 { width: 100% }

.bg-yellow { background-color: yellow }
.bg-63be79 { background-color: #63be79; }

.align-center { text-align: center; }

.out { outline: 1px solid }

.d-flex { display: flex; }
.jc-center { justify-content: center; }
.ai-center { align-items: center; }

.fs-50 { font-size: 50px }
.fs-25 { font-size: 25px }

.m-0 { margin: 0 0 0 0 }

.mt-10 { margin-top: 10px }
.p-0 { padding: 0 0 0 0 }
.ptop-5 { padding-top: 5px }
.p-10 { padding: 10px }
.m-right { margin-right: 0; }
.py-10 {
	padding-top: 10px;
	padding-bottom: 10px;
}

.p-10 { padding: 5px 5px 5px 5px  }
.p-10 { padding: 10px 0 10px 0;
}

.px-30 {
	padding-left: 30px;
	padding-right: 30px;
}

.py-50 {
	padding-top: 50px;
	padding-bottom: 50px;
}
.py-25 {
	padding-top: 25px;
	padding-bottom: 25px;
}

.bg-header {
	background: #39585d url(../img/earth1.png) no-repeat top right;
	background-size: 50%;
}

.bg-header-pic {
	margin: 0 70px 0 35px;
	text-align: center;
	justify-content: center;
	object-fit: cover;
	width: 650px;
	height: 325px;
}

.org_veg_pic {
	object-fit: cover;
	width: 300px;
	height: 150px;
}

.buttom-size h4 a {
	text-decoration: none;
}

.buttom-size {
	padding: 0 0 0 0;
/*	margin: 0 0 0 0;*/
	width: 100px;
	height: 50px;
	border-radius: 15px;
	background-color: rgba(0,0,0,.3);
	border-style: none;
}

.radius-10 { border-radius: 10% }
/*.radius-20 { border-radius: 20px }*/

.bg-212b2d { background-color: #212b2d }
.bg-333d3f { background-color: #333d3f }
.color-white { background-color: white }
.font-color-white { color: white }

.menu li {
	padding: 0 30px;
	border-left: 1px solid white;
}

.txt-dec-none { text-decoration: none; }

.list-reset { list-style: none; }

.menu li:first-child { border-left: none; }

.menu li a {
	color: white;
	text-decoration: none;
}

.menu li a:hover { color: red }









